<mat-card class="example-card" (click)='singleProductDetails()'>
    <mat-card-header>
        <mat-card-title class='title'>{{singleProduct.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class='img' [src]="singleProduct.img" [alt]='singleProduct.name'>
    <mat-card-content>
        <span><b>{{type }}: </b>{{singleProduct.type}}</span>
        <span style="float: right;"><b>{{price }}: </b>$ {{singleProduct.price}}</span><br>
        <span><b>{{size }}: </b>{{singleProduct.size}}</span>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color='primary' (click)='singleProductDetails()'>{{button1}}</button>
        <button mat-raised-button color='primary'(click)='addToCart()'>{{button2}}</button>
    </mat-card-actions>
</mat-card>