.auth-card {
    width: 330px;
    margin: auto;
  }
  @media only screen and (max-width: 767px) {
    .mat-elevation-z4 {
      box-shadow: none;
    }
    .auth-card {
      margin-top: 25%;
    }
  }
  .error-message {
    color: #dc3545;
    font-size: 16px;
    text-align: center !important;
  }
  .auth-card-text {
    font-size: 0.8rem;
    font-weight: 300;
    color: #15734f;
    cursor: pointer;
    margin-left: auto;
  }