<!-- <div fxLayout="row" fxLayout.lt-md="column"> -->
        <app-dynamic-list [products]="productLists"  ></app-dynamic-list>
        <div fxLayout="row" class="first_grid"  fxLayout.lt-md="column" fxLayoutGap.lt-md="1%">
                <mat-card fxFlex="40" fxLayout="">
                                hello
                </mat-card>
                <mat-card fxFlex="40" fxLayout="">
                        hello
                </mat-card>
                <mat-card fxFlex="40" fxLayout="">
                        hello
                </mat-card>

        </div>


       
       
<!-- </div> -->