<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="title" fxLayoutAlign="center">
                See More ABOUT US
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center">
            <div fxLayout="column" class="container">
                <b>ABOUT</b><br>
                <a href="">Contact Us</a>
                <a href="">About US</a>
            </div>
            <div fxLayout="column" class="container">
                <b>HELP</b><br>
                <a href="">Payments</a>
                <a href="">Shipping</a>
                <a href="">Cancellation&Returns</a>
                <a href="">FAQ</a>
                <a href="">Report Infringement</a>
            </div>
            <div fxLayout="column" class="container">
                <b>POLICY</b><br>
                <a href="">Return Policy</a>
                <a href="">Terms Of Use</a>
                <a href="">Security</a>
                <a href="">Privacy</a>
            </div>
            <div fxLayout="column" class="container">
                <b>SOCIAL</b><br>
                <a href="">Facebook</a>
                <a href="">Twitter</a>
                <a href="">YouTube</a>
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>