<div class='main'fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="40px"fxLayoutAlign="space-around">
    <mat-card class='example-card'*ngFor='let product of products'>
        <a [routerLink]="['product-detail']"><img mat-card-image [src]='product.img' [alt]='product.name'></a>
        <mat-card-header>
            <mat-card-title class='title'>{{product.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{product.short_desc}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class='button1' (click)='singleProductDetails(product)'>{{button1}}</button>
        </mat-card-actions>
    </mat-card>
</div>